body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }


  h2 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #333;
    color: white;
  }

  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .actividades{
    position: fixed;
    left: 20vw;
    top: 4vh;
    background-color: #f0f0f0;
    padding: 1000px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 50%; 
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #555;
  }
  .corner-section {
    position: fixed;
    left: 4vw;
    top: 10vh;
    right: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px; 
}

.corner-section p {
    margin: 5px 0;
}
