body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }


  h2 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #333;
    color: white;
  }

  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .actividades{
    position: fixed;
    left: 20vw;
    top: 4vh;
    background-color: #f0f0f0;
    padding: 1000px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 50%; 
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #555;
  }
<<<<<<< HEAD
  .result, .actividad {
    position: fixed;
    left: 80vw;
    font-size: 18px;
    text-align: center;
    border: 2px solid #ddd; /* Borde de 2 píxeles de grosor y color gris claro */
    padding: 10px; /* Opcional: Añade espacio interno alrededor del contenido */
    background-color: white; /* Opcional: Añade un fondo blanco para el contraste */
  }
  
  .result {
    top: 10vh;
  }
  
  .actividad {
    top: 60vh;
  }
  .actividad #guardar {
    margin-top: 10px; /* Espacio superior para separar del contenido */
    padding: 10px 20px; /* Relleno interno del botón */
    background-color: #333; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde alrededor del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .actividad #guardar:hover {
    background-color: #555; /* Color de fondo del botón al pasar el cursor sobre él */
  }
=======
  .corner-section {
    position: fixed;
    left: 4vw;
    top: 10vh;
    right: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px; 
}

.corner-section p {
    margin: 5px 0;
}
>>>>>>> 724abce3ddb9180109839b0bbf2f84f5006a3c85
