body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
.corner-section{
    position: fixed;
    left: 5vw;
    top: 4vh;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

  h2 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #333;
    color: white;
  }

  input[type="text"], input[type="number"] {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .actividades{
    position: fixed;
    left: 20vw;
    top: 4vh;
    background-color: #f0f0f0;
    padding: 1000px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 50%; 
  }
 
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .agregar {
    position: fixed;
    left: 40vw;
    top: 25vh;
    display: inline-block;
    margin-right: 10px;
  }
  .guardar {
    display: inline-block;
  }
  button:hover {
    background-color: #555;
  }
  .result, .actividad {
    position: fixed;
    left: 80vw;
    font-size: 18px;
    text-align: center;
    border: 2px solid #ddd; /* Borde de 2 píxeles de grosor y color gris claro */
    padding: 10px; /* Opcional: Añade espacio interno alrededor del contenido */
    background-color: white; /* Opcional: Añade un fondo blanco para el contraste */
  }
  
  .result {
    position: fixed;
    left: 76vw;
    top: 4vh;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .actividad {
    position: fixed;
    left: 76vw;
    top: 40vh;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
/* Estilo ventana emrgente */
.modal {
  display: none; 
  position: fixed; 
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #555;
}

